body {
    text-align: center;
    font-family: Arial, sans-serif;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}
canvas{
    background-color: orange;
}